#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	$(MAKE) check

override_dh_auto_test:
ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
	python3 -m pytest -q tests
endif

override_dh_auto_install:
	$(MAKE) install DESTDIR=$(CURDIR)/debian/eduka-customizer PREFIX=/usr
